.gallerytitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-style: normal;
  text-decoration: none;
}
.thumbnailtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
.navigationtext {
  font-family: Arial, Helvetica, sans-serif;
}
