/* Copyright 1998-2001 by Marc J. Rochkind. All rights reserved. */
.idx-body		{ margin-left: 10px;
				  background-color: Maroon;
				  background-image: url('marble02.jpg');
				}
.idx-bodytext	{ font-family: Verdana, Arial, Helvetica, sans-serif;
				  font-size: small;
				  color: Maroon;
				}
.idx-table		{ background-color: Green;
				  background-image: url('marble02.jpg');
				}
.idx-title		{ font-size: large }
.idx-click-for-enl { font-style: italic }
.idx-desc		{ }
.idx-liblinks	{ font-size: x-small; margin-top: 20px; margin-bottom: 0px; white-space: nowrap }
.idx-show-click-for-title { italic; margin-top: 20px; margin-bottom: 0px }
.idx-email		{ font-size: x-small; margin-top: 20px; margin-bottom: 0px }
.idx-generated	{ font-size: x-small; margin-top: 5px }
.idx-td			{ color: Maroon; font-size: small;
				  font-family: Verdana, Arial, Helvetica, sans-serif; }
.idx-label		{ font-size: x-small;  font-style: italic; margin-top: 0px; margin-bottom: 0px; text-align: center }
.idx-filename	{ font-size: x-small;  margin-top: 0px; margin-bottom: 0px; text-align: center }
.idx-caption	{ margin-top: 0px; text-align: left }
.idx-img		{ }
.idx-linkstyle A:link		{ color: Maroon }
.idx-linkstyle A:visited	{ color: Maroon }
.idx-linkstyle A:active		{ color: Maroon }

.enl-body		{ font-family: Verdana, Arial, Helvetica, sans-serif;
				  background-color: White;
				  background-image: url('Cathedra-HolySpirit.jpg');
				}
.enl-bodytext	{ font-family: Verdana, Arial, Helvetica, sans-serif;
				  font-size: small; 
				}
.enl-table		{ }
.enl-caption	{ margin-left: 20px; margin-right: 20px; margin-top: 10px }
.enl-td			{ color: Purple; font-size: small;
				  font-family: Verdana, Arial, Helvetica, sans-serif }
.enl-label		{ font-size: large; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 10px }
.enl-homelink	{ }
.enl-desc		{  }

.enl-img		{ }
.enl-linkstyle A:link		{ color: Purple }
.enl-linkstyle A:visited	{ color: Purple }
.enl-linkstyle A:active		{ color: Purple }
